@charset "utf-8";

/* These are the styles to import the font from the files in the folder. */
@font-face {
    font-family: Champange;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Grunge;
    src: url('1942.woff') format('woff'),
        url('1942.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Dylan Kelley
   Date: 9.6.18  
   
   Filename: ph_styles.css

*/
/* Structural Styles */
/* These style are what affect the structure of the whole page, the body, the paragraphs, and the address, and are used to set the background color, style rules for the font, and padding/margin around each of the elements. */
html {
    background-color: hsl(91, 8%, 56%);
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

header {
    background-color: black;
}

p {
    margin: 0;
    padding: 5px 25px 25px 25px;
}

body>p {
    font-size: 1.1em;
    text-align: center;
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navigation Styles */
/* These are style rules for the navigation links at the top of the page and also above each play, and are used to set the font, text color, and background color for the links when they are previously visited, non-visited, active, or hovered over, and also to remove the underline from the hypertext. */
nav a {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:visited,
nav a:link {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav a:active,
nav a:hover {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 42%, 0.7);
}

/* Section Styles */
/* These are the styles for each individual section with a different ID for each section, and each section is set to a different background color while each section heading is set to a different font. The playbill in each section also has specific styles applied to change the font size, font weight, and margin/padding. */
section.playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 20px;
}

section#play1 {
    background-color: hsl(240, 100%, 88%);
}

section#play2 {
    background-color: hsl(25, 88%, 73%);
}

section#play3 {
    background-color: hsl(0, 100%, 75%);
}

section#play4 {
    background-color: hsl(296, 86%, 86%);
}

section#play1 h1 {
    font-family: Champange, cursive;
}

section#play2 h1 {
    font-family: Grunge, 'Times New Roman', Times, serif;
}

section#play3 h1 {
    font-family: Impact, Charcoal, sans-serif;
}

section#play4 h1 {
    font-family: Dobkin, cursive;
}

/* Description List Styles */
/* Here are the description list style used to set the font size, font weight, margins, and color of each definiton term and definiton description. */
dt {
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd {
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}